.overviewChild {
  position: absolute;
  top: -50px;
  left: -60px;
  border-radius: var(--br-11xl);
  width: 748px;
  height: 498px;
}
.quarterly {
  position: relative;
  letter-spacing: -0.01em;
}
.chevronDown1Icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.quarterlyParent {
  position: absolute;
  top: 27px;
  left: 473px;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite-100);
  width: 118px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-2xs) var(--padding-0)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.overview1 {
  top: 24px;
  left: 38px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  color: var(--color-black);
}
.jan,
.monthlyEarning,
.overview1 {
  position: absolute;
  letter-spacing: -0.01em;
}
.monthlyEarning {
  top: 61px;
  left: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.jan {
  top: 325px;
  left: 48px;
}
.feb,
.jan,
.mar {
  font-weight: 500;
}
.feb {
  position: absolute;
  top: 325px;
  left: 95px;
  letter-spacing: -0.01em;
}
.mar {
  left: 142px;
}
.apr,
.mar,
.may {
  position: absolute;
  top: 325px;
  letter-spacing: -0.01em;
}
.apr {
  left: 190px;
  font-weight: 500;
}
.may {
  left: 235px;
}
.jul,
.jun,
.may {
  font-weight: 500;
}
.jun {
  position: absolute;
  top: 325px;
  left: 283px;
  letter-spacing: -0.01em;
}
.jul {
  left: 332px;
}
.aug,
.dec,
.jul,
.nov,
.oct,
.sep {
  position: absolute;
  top: 325px;
  letter-spacing: -0.01em;
}
.aug {
  left: 374px;
  font-size: var(--font-size-3xs);
}
.dec,
.nov,
.oct,
.sep {
  left: 424px;
  font-weight: 500;
}
.dec,
.nov,
.oct {
  left: 472px;
}
.dec,
.nov {
  left: 518px;
}
.dec {
  left: 565px;
}
.overviewItem {
  position: absolute;
  top: 12.625rem;
  left: 40px;
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender);
  width: 31px;
  height: 6.9375rem;
}
.overviewChild1,
.overviewChild2,
.overviewChild3,
.overviewChild4,
.overviewChild5,
.overviewInner,
.rectangleDiv {
  position: absolute;
  top: 171px;
  left: 87px;
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender);
  width: 31px;
  height: 142px;
}
.overviewChild1,
.overviewChild2,
.overviewChild3,
.overviewChild4,
.overviewChild5,
.rectangleDiv {
  top: 137px;
  left: 134px;
  height: 176px;
}
.overviewChild1,
.overviewChild2,
.overviewChild3,
.overviewChild4,
.overviewChild5 {
  top: 11.375rem;
  left: 11.3125rem;
  height: 131px;
}
.overviewChild2,
.overviewChild3,
.overviewChild4,
.overviewChild5 {
  top: 219px;
  left: 228px;
  height: 94px;
}
.overviewChild3,
.overviewChild4,
.overviewChild5 {
  top: 11.375rem;
  left: 275px;
  height: 131px;
}
.overviewChild4,
.overviewChild5 {
  top: 171px;
  left: 322px;
  height: 142px;
}
.overviewChild5 {
  top: 106px;
  left: 364px;
  background-color: var(--color-blueviolet);
  box-shadow: 0 8px 12px rgba(135, 145, 233, 0.3);
  width: 40px;
  height: 207px;
}
.overviewChild6,
.overviewChild7,
.overviewChild8,
.overviewChild9 {
  position: absolute;
  top: 132px;
  left: 416px;
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender);
  width: 31px;
  height: 11.3125rem;
}
.overviewChild7,
.overviewChild8,
.overviewChild9 {
  top: 10.0625rem;
  left: 28.9375rem;
  height: 9.5rem;
}
.overviewChild8,
.overviewChild9 {
  top: 12.625rem;
  left: 31.875rem;
  height: 6.9375rem;
}
.overviewChild9 {
  top: 9.0625rem;
  left: 34.8125rem;
  height: 10.5rem;
}
.overview {
  position: absolute;
  top: 14rem;
  left: 22rem;
  width: 39.25rem;
  height: 23.625rem;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
